<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Product Management System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/products" routerLinkActive="active">Products</button>
    <button mat-button routerLink="/products/add" routerLinkActive="active">Create Product</button>
    <button mat-button mat-raised-button color="warn">Sign UP</button>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
</mat-toolbar>